.app.light {
  --bg-color: #d5d5d7;
  --inverted-bg-color: #2a2b3b;

  --primary-color: #2a2b3b;
  --secondary-color: #6f78a2;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #bebebe;
}
