.app.dark {
  --bg-color: #2a2b3b;
  --inverted-bg-color: #d5d5d7;

  --primary-color: #d5d5d7;
  --secondary-color: #ffffff;
  --inverted-primary-color: #050000;
  --inverted-secondary-color: #151b28;
}
