.TestCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.TestInfo {
  display: flex;
  align-items: center;
}

.TestActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--primary-color);
  cursor: pointer;
}

.TestText {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}




